// About Modal
.modal-background {
  background: $background-modal;
  display: none;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.modal-window {
  background: $background-modal-content;
  margin: 10% auto;
  padding: 24px;
  width: 60%;
}
