/* About Modal */
#about-modal {
  background: rgba(0, 0, 0, .75);
  display: none;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1000;
}

#about-modal-content {
  background: #fff;
  margin: 10% auto;
  padding: 24px;
  width: 60%;
}
