/* Control Panel */
#main_controls {
  background: $background-controls;
  border-radius: 12px;
  display: block;
  list-style: none;
  margin: 12px;
  padding: 12px 6px;
  position: absolute;
  z-index: 400;

  li i {
    font-size: 24px;
    padding: 6px;
  }

  .separator {
    border-bottom: 1px solid #777;
    margin-bottom: 6px;
    padding-bottom: 12px;
  }

  a {
    color: #aaa;
  }
  a.selected {
    color: #fff;
  }
}
