/* Header */
h1 {
  float: left;
  font-size: 24px;
  font-weight: normal;
  margin: 8px 12px;
  vertical-align: middle;
}

#header a {
  display: block;
  float: left;
  height: 100%;
  padding: 12px 6px;
}

#header i {
  display: block;
  vertical-align: middle;
}

#header ul {
  background: rgba(68, 68, 68, .9);
  display: none;
  left: 96px;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 48px;
}

#header li {
  border-top: 1px solid #777;
  padding: 12px;
}
