/* Main sections */
#header {
  background: #004784;
  box-sizing: border-box;
  color: #fff;
  height: 48px;
  position: relative;
  width: 100%;
  z-index: 500;
}

#content {
  bottom: 0;
  position: absolute;
  top: 48px;
  width: 100%;
}
