$background-header: #004784;
$background-controls: rgba(68, 68, 68, .9);
$background-modal: rgba(0, 0, 0, .75);
$background-modal-content: #fff;

$border-color-controls-separator: #777;

$color-header: #fff;
$color-controls-button: #aaa;
$color-controls-button-selected: #fff;
