@import 'init';
@import 'sections';
@import 'header';
@import 'controls';
@import 'about';
@import 'directions';

.close {
  float: right;
}

/* Map */
#map {
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  z-index: 0;
}

.options-box {
  box-shadow: 10px 10px 30px 0 rgba(0, 0, 0, 0.75);
  margin-top: 10px;
  position: absolute;
  z-index: 1000;
}

#pano {
  height: 200px;
  width: 200px;
}

.top-row-margin {
  margin-top: .5em;
}
