@import 'init';
@import 'sections';
@import 'header';
@import 'controls';
@import 'about';
@import 'directions';

.close {
  float: right;
}
/* Map */
#map {
	bottom:0px;
	height: 100%;
	left: 0px;
	position: absolute;
	right: 0px;
  z-index: 0;
}

.options-box {
	position: absolute;
	margin-top: 10px;
	box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.75);
	z-index: 1000;
}
#pano {
	width: 200px;
	height: 200px;
}

.top-row-margin {
	margin-top: 0.5em;
}