@import 'variables';
@import 'init';
@import 'sections';
@import 'header';
@import 'controls';
@import 'about';
@import 'directions';

.close {
  float: right;
}

/* Map */
.map {
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  z-index: 0;
}

.pano {
  height: 200px;
  width: 200px;
}

.top-row-margin {
  margin-top: .5em;
}
